<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="ap-local-base-url" content="some-content" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="//aui-cdn.atlassian.com/aui-adg/5.8.12/css/aui.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="//aui-cdn.atlassian.com/aui-adg/5.8.12/css/aui-experimental.css"
      media="all"
    />
    <!--[if IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.12/css/aui-ie9.css" media="all"><![endif]-->
    <link rel="stylesheet" href="/css/addon.css" type="text/css" />
    <script
      src="https://connect-cdn.atl-paas.net/all.js"
      type="text/javascript"
    ></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="https://unpkg.com/mic-recorder-to-mp3"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

  </head>
  <body class="aui-page-hybrid">
    hello this is a page
  </body>
</html>